<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid menu-inline">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" title="Página principal" routerLink="/">
        <span>
          <img src="./../../assets/imagenes/team-utn.png" height="30px" alt="Logo"> <p id="brand">Sala de juegos</p></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav menu-inline" style="padding-top: 5px">
        <li>
          <a (click)="Juego('Agilidad')">Agilidad</a> <!-- data-toggle="tooltip" title="Hooray!" -->
        </li>
        <li>
          <a (click)="Juego('Sudoku')">Sudoku</a>
        </li>
        <li>
          <a (click)="Juego('PPT')">PPT</a>
        </li>
        <li>
          <a (click)="Juego('Adivina')">Adivina</a>
        </li>
        <li>
          <a (click)="Juego('Anagrama')">Anagrama</a>
        </li>
        <li>
          <a (click)="Juego('Tateti')">Tateti</a>
        </li>
        <li>
          <a (click)="Juego('AdivinaMasListado')">Adivina+listado</a>
        </li>
        <li>
          <a (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right menu-inline" style="padding-top: 5px">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-user"></span> Mis Datos</a>
        </li>
        <li>
          <a href="/Login">
            <span class="glyphicon glyphicon-log-out"></span> Salir</a>
        </li>
      </ul>

    </div>
  </div>
</nav>