<!--div *ngFor="let juego of listado">
   <p> {{juego.nombre}} </p>
   <p> {{juego.jugador}} </p>
   
   </div-->
<!--
   <div class="container">
     <table class="table table-condensed">
       <thead>
         <tr>
           <th>Juego</th>
           <th>Jugador</th>
           <th>Datos</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let juego of listado">
           <td>{{juego.nombre}} </td>
           <td>{{juego.jugador}} </td>    
           <td>{{juego.jugador}} </td>    
         </tr>
        
       </tbody>
   </table>
   -->
<div class="container table-responsive">
   <!-- SUDOKU -->
   <table id="partidas" class="table table-striped table-bordered tabla-partidas">
      <thead class="thead-dark" id="tabla-partidas-header">
         <tr>
            <th colspan="3">Sudoku</th>
         </tr>
         <tr>
            <th scope="col">Jugador</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Reintentos</th>
         </tr>
      </thead>
      <tbody id="tabla-partidas-body">
         <tr *ngFor="let juego of listado">
            <td *ngIf="juego.Juego=='Sudoku'">{{juego.Jugador}}</td>
            <td *ngIf="juego.Juego=='Sudoku'">{{juego.Data.Tiempo}}</td>
            <td *ngIf="juego.Juego=='Sudoku'">{{juego.Data.Reintentos}}</td>
         </tr>
      </tbody>
   </table>
   <!-- AGILIDAD -->
   <table id="partidas" class="table table-striped table-bordered tabla-partidas">
      <thead class="thead-dark" id="tabla-partidas-header">
         <tr>
            <th colspan="3">Agilidad aritmetica</th>
         </tr>
         <tr>
            <th scope="col">Jugador</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Reintentos</th>
         </tr>
      </thead>
      <tbody id="tabla-partidas-body">
         <tr *ngFor="let juego of listado">
            <td *ngIf="juego.Juego=='Agilidad'">{{juego.Jugador}}</td>
            <td *ngIf="juego.Juego=='Agilidad'">{{juego.Data.Tiempo}}</td>
            <td *ngIf="juego.Juego=='Agilidad'">{{juego.Data.Reintentos}}</td>
         </tr>
      </tbody>
   </table>
   <!-- TATETI -->
   <table id="partidas" class="table table-striped table-bordered tabla-partidas">
      <thead class="thead-dark" id="tabla-partidas-header">
         <tr>
            <th colspan="3">TaTeTi</th>
         </tr>
         <tr>
            <th scope="col">Jugador</th>
            <th scope="col">Resultado</th>
         </tr>
      </thead>
      <tbody id="tabla-partidas-body">
         <tr *ngFor="let juego of listado">
            <td *ngIf="juego.Juego=='Tateti'">{{juego.Jugador}}</td>
            <td *ngIf="juego.Juego=='Tateti'">{{juego.Data.Resultado}}</td>
         </tr>
      </tbody>
   </table>
   <!-- PPT -->
   <table id="partidas" class="table table-striped table-bordered tabla-partidas">
      <thead class="thead-dark" id="tabla-partidas-header">
         <tr>
            <th colspan="2">Piedra papel o tijera</th>
         </tr>
         <tr>
            <th scope="col">Jugador</th>
            <th scope="col">Resultado</th>
         </tr>
      </thead>
      <tbody id="tabla-partidas-body">
         <tr *ngFor="let juego of listado">
            <td *ngIf="juego.Juego=='PPT'">{{juego.Jugador}}</td>
            <td *ngIf="juego.Juego=='PPT'">{{juego.Data.Resultado}}</td>
         </tr>
      </tbody>
   </table>
   <!-- ADIVINA -->
   <table id="partidas" class="table table-striped table-bordered tabla-partidas">
      <thead class="thead-dark" id="tabla-partidas-header">
         <tr>
            <th colspan="3">Adivina el numero</th>
         </tr>
         <tr>
            <th scope="col">Jugador</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Reintentos</th>
         </tr>
      </thead>
      <tbody id="tabla-partidas-body">
         <tr *ngFor="let juego of listado">
            <td *ngIf="juego.Juego=='Adivina'">{{juego.Jugador}}</td>
            <td *ngIf="juego.Juego=='Adivina'">{{juego.Data.Tiempo}}</td>
            <td *ngIf="juego.Juego=='Adivina'">{{juego.Data.Reintentos}}</td>
         </tr>
      </tbody>
   </table>
  <!-- ANAGRAMA -->
   <table id="partidas" class="table table-striped table-bordered tabla-partidas">
      <thead class="thead-dark" id="tabla-partidas-header">
         <tr>
            <th colspan="3">Anagrama</th>
         </tr>
         <tr>
            <th scope="col">Jugador</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Reintentos</th>
         </tr>
      </thead>
      <tbody id="tabla-partidas-body">
         <tr *ngFor="let juego of listado">
            <td *ngIf="juego.Juego=='Anagrama'">{{juego.Jugador}}</td>
            <td *ngIf="juego.Juego=='Anagrama'">{{juego.Data.Tiempo}}</td>
            <td *ngIf="juego.Juego=='Anagrama'">{{juego.Data.Reintentos}}</td>
         </tr>
      </tbody>
   </table>
</div>