.panel
{
    height: 400px;
    background-color: transparent;
    border:none;
    box-shadow: none;
    position: relative;
}

.navbar {
    padding: 1%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3E06B0;
} 

.menu-inline {
    display: inline-block !important;
}

.navbar-brand {
    cursor: pointer;
}

#brand {
    color: white;
    display: inline-block !important;
}
.nav>li>a {
    padding: 20px;
    font-size: 20px;
}

.user-logged{
    background-color: transparent !important;
}

.user-logged span {
    cursor: context-menu;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.user-logged span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: gray;
}

.user-logged:hover span {
    padding-right: 25px;
    color: gray;
}

.user-logged:hover span:after {
    opacity: 1;
    right: 0;
    color: gray;
}

.custom-link {
    color: black !important;
}

