<div class="container">
   <div class="row">
      <div class="col-sm-10">
         <h1 class="presentation-title">TaTeTi</h1><br>
         <h1 id="turno" class="presentation-subTitle"></h1><br>
         <br><br><br>
         <table class="tatetiTable" id="grid">
            <tr>
               <td><input id="cell-0" type="text" disabled></td>
               <td><input id="cell-1" type="text" disabled></td>
               <td><input id="cell-2" type="text" disabled></td>
            </tr>
            <tr>
               <td><input id="cell-3" type="text" disabled></td>
               <td><input id="cell-4" type="text" disabled></td>
               <td><input id="cell-5" type="text" disabled></td>
            </tr>
            <tr>
               <td><input id="cell-6" type="text" disabled></td>
               <td><input id="cell-7" type="text" disabled></td>
               <td><input id="cell-8" type="text" disabled></td>
            </tr>
         </table>
         <button id="nuevoJuego" class="button btn btn-success" (click)="NuevoJuego()">Jugar</button>
         <!-- <button id="turnoMaquina" class="button btn btn-success" (click)="turnoMaquina()" disabled>Turno de la maquina</button>-->

         <div id="carga"></div>
      </div>

      <!-- MODAL Resultado -->
      <div class="modal fade" id="modalFelicidadesLogged" tabindex="-1" role="dialog" aria-labelledby="myModalLabelHeader" aria-hidden="true">
         <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
               <div class="modal-content">
                  <div class="modal-header" id="customModalHeader">
                     <h4 class="modal-title" id="myModalLabelHeader"></h4>
                     <h2 id="userErrorTitle" style="display:none; color:red">Error</h2><br>
                     <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                     </button>  
                  </div>
                  <div clasS="modal-body">
                     <div id="myModalLabelImg"></div>
                     <h5 class="myModalLabelBody" id="myModalLabelBody"></h5>
                     <h2 id="userErrorBody" style="display:none; color:red">Ocurrio un error al intentar guardar su partida</h2><br>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MODAL NO LOGGEADO -->
      <div class="modal fade" id="modalNotLogged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title" id="myModalLabel">Error</h4>
                     <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                     </button>  
                  </div>
                  <div clasS="modal-body">
                    <h5>Necesita estar logeado o registrado para poder guardar sus partidas!</h5>
                    <button class="button btn btn-success" (click)="loguearse()">Loguearse</button> 
                    <button class="button btn btn-primary" (click)="registrarse()">Registrarse</button>
                    <button class="button btn btn-danger" data-dismiss="modal">
                       <span aria-hidden="true">Cancelar</span>
                    </button>  
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>