<div class="container">
   <div class="row">
      <div class="col-sm-8">
         <h1 class="presentation-title">Anagrama</h1>
         <br><br><br>
         <div class="board" id="board">
	         <div id="palabra" style="visibility:hidden;">
	         	<h1 id='palabraEnJuego'></h1>
	         </div>
 	         <div id="eleccionUsuario" style="visibility:hidden;">
	         	<input class="eleccionUsuario" type="palabraElegida" name="palabraElegida" [(ngModel)]="this.anagrama.eleccionUsuario">
	         </div>
         </div>
         <button id="nuevoJuego" class="button btn btn-success" (click)="NuevoJuego()">Jugar</button>
         <button id="validarJuego" class="button btn btn-success" (click)="Validar()" disabled>Validar</button>
         <div id="carga"></div>
      </div>
		<div class="col-sm-4">
		 <div class="enjoy-css tiempo">
		    Tiempo: <br> {{ counter | async }}
		 </div><br>
		 <div class="enjoy-css reintentos">
		    Reintentos: {{ reintentos }}
		 </div>
		</div>
      <!-- MODAL TODAVIA NO GANA -->
      <div class="modal fade" id="modalFalta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
               <div class="modal-content">
                  <div class="modal-header" style='color: white; background-color: gray;'>
                     <h4 class="modal-title" id="myModalLabel">Falta!</h4>
                     <button type="button" class="close" data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
                     </button>       
                  </div>
                  <div clasS="modal-body">
                     <h5 class="myModalLabelBody" id="myModalLabel">Todavia no esta completo, siga intentando!</h5>
                     <h2 id="userErrorBody" style="visibility:hidden; color:red">Ocurrio un error al intentar guardar su partida</h2><br>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MODAL GANO LOGGEADO -->
      <div class="modal fade" id="modalFelicidadesLogged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
               <div class="modal-content">
                  <div class="modal-header" style='color: white; background-color: green;'>
                     <h4 class="modal-title" id="myModalLabel">Felicidades!</h4>
                     <h2 id="userErrorTitle" style="visibility:hidden; color:red">Error</h2><br>
                     <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                     </button>  
                  </div>
                  <div clasS="modal-body">
                     <div id="myModalLabelImg"><img style="max-width: 15%; margin-top: 4%;" src="../../assets/imagenes/gano.png"/></div>
                     <h5 class="myModalLabelBody" id="myModalLabel">Ud termino en {{segundosFinales}} segundos con {{reintentosFinales}} reintentos</h5>
                     <h2 id="userErrorBody" style="visibility:hidden; color:red">Ocurrio un error al intentar guardar su partida</h2><br>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MODAL NO LOGGEADO -->
      <div class="modal fade" id="modalNotLogged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title" id="myModalLabel">Error</h4>
                     <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                     </button>  
                  </div>
                  <div clasS="modal-body">
                    <h5>Necesita estar logeado o registrado para poder guardar sus partidas!</h5>
                    <button class="button btn btn-success" (click)="loguearse()">Loguearse</button> 
                    <button class="button btn btn-primary" (click)="registrarse()">Registrarse</button>
                    <button class="button btn btn-danger" data-dismiss="modal">
                       <span aria-hidden="true">Cancelar</span>
                    </button>  
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>